.single-post {
    border-bottom: 1px solid #f3f4f5;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}
.name {
    font-weight: 600;
}
.datetime {
    font-size: 13px;
    font-weight: 200;
}
.single-post p {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
}
.postContent{
    display: flex;
    overflow: hidden;
}
.single-post img {
    border-radius: 40px;
    height: 40px;
    margin-right: 15px;
    width: 40px;
}
.comments {
    margin: 15px 15px 15px 55px;
}
.single-post:hover{
    background-color: #f3f4f5;
}